h1{
    padding-top: 90px;
    background: none;
    text-align: center;
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    font-size: 22px;
}
#wrap{
    width: 530px;
    height: 900px;
    margin: 0 auto 0;
}
#form-wrap{
    overflow: hidden;
    height: 447px;
    position: relative;
    top: 0;
    transition: all 1s ease-in-out 0.3s;
}
#form-wrap:before{
    content: "";
    position: absolute;
    bottom: 128px;
    left: 0;
    background: url(img/ama/before.png);
    width: 530px;
    height: 317px;
}
#form-wrap:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(img/ama/after.png);
    width: 530px;
    height: 259px;
}
#form-wrap.hide:before,
#form-wrap.hide:after{
    display: none;
}
#form-wrap:hover{
    height: 877px;
    top: -200px;
}
form{
    background: url(img/ama/letter_bg.png);
    position: relative;
    top: 200px;
    overflow: hidden;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid white;
    border-right: 3px;
    transition: all 1s ease-in-out 0.3s;
}
#form-wrap:hover form{
    height: 530px;
}
label{
    margin: 5px 20px 0 0;
    font-size: 15px;
    color: #333;
}
input[type="text"],
textarea{
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    background: none;
    width: 380px;
    height: 37px;
    margin: 0 0 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
textarea{
    height: 80px;
    padding-top: 14px;
}
#form-wrap input[type="submit"]{
    position: relative;
    background: url(img/send.png);
    border-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    width: 100px;
    height: 83px;
    margin: 0 140px;
    opacity: 0;
    cursor: url(img/cursor2.png), pointer;
    transition: opacity 0.7s ease-in-out 0s;
}
#form-wrap:hover input[type="submit"]{
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out 1.3s;
    outline: none;
}