body{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(60deg, rgb(254, 239, 172), rgb(83, 200, 218));
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#login-box{
    position: relative;
    width: 600px;
    height: 600px;
    background: url(/img/background.jpg);
    background-color:rgba(255, 255, 224, 0.4);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
}

/* signup */
#login-box .signup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    z-index: 5;
}

#login-box .signup .form-title{
    color: #000;
    font-size: 1.7em;
    text-align: center;
}
#login-box .signup .form-title span{
    color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
#login-box .signup .form-box{
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 50px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
#login-box .signup .form-box input{
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
}
#login-box .signup .form-box input:last-child{
    border-bottom: 0;
}
#login-box .signup .form-box input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}
#login-box .signup .signup-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
#login-box .signup .signup-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.with-sns{
    margin-top: 40px;
    text-align: center;
}
button{
    width: 30px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.facebook{
    background: #4267b2;
}
.twitter{
    background: #38A1F3;
}
.google{
    background: #de5246;
}

/* signup slide */
#login-box .signup.slide{
    top: 5%;
    transform: translate(-50%, 0%);
    transition: all 0.3s ease;
}
#login-box .signup.slide .form-box,
#login-box .signup.slide .signup-btn,
#login-box .signup.slide .with-sns{
    opacity: 0;
    visibility: hidden;
}
#login-box .signup.slide .form-title{
    font-size: 1.3em;
    cursor: pointer;
}
#login-box .signup.slide .form-title span{
    margin-right: 5px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

/* login */
#login-box .login{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 5;
    transition: all 0.3s ease;
}
#login-box .login::before{
    content: '';
    position: absolute;
    left: 50%;
    top: -20px;  
    width: 200%;
    height: 250px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease;
    z-index: 4;
}
#login-box .login .center{
    position: absolute;
    top: calc(50% - 10%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;  
    transition: all 0.3s ease;
    z-index: 5;
}
#login-box .login .center .form-title {
    color: #000;
    font-size: 1.7em;
    text-align: center;
}
#login-box .login .center .form-title span{
    color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
#login-box .login .center .form-box{
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #eee;
    overflow: hidden;
    margin-top: 50px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
#login-box .login .center .form-box input{
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
}
#login-box .login .center .form-box input:last-child {
    border-bottom: 0;
}
#login-box .login .center .form-box input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}
#login-box .login .center .login-btn {
    background-color: rgb(219, 153, 137);
    color: rgba(255, 255, 255, 0.7);
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
#login-box .login .center .login-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* login slide */
#login-box .login.slide{
    top: 90%;
    transition: all 0.3s ease;
}
#login-box .login.slide .center{
    top: 10%;
    transform: translate(-50%, 0%);
    transition: all 0.3s ease;
}
#login-box .login.slide .form-box,
#login-box .login.slide .login-btn,
#login-box .login.slide .with-sns{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
#login-box .login.slide .form-title{
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
#login-box .login.slide .form-title span{
    margin-right: 5px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}